table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
caption{
    color: #252627;
    font-family: "Trocchi", serif;
    font-size: 45px;
    line-height: 70px;
}
th{
    color:#D3D4D9;
    background-color: #BB0A21;
}
tr:nth-child(even){
    background-color: #D3D4D9;
}
tr:nth-child(odd){
    background-color: #B8BACF;
}


